<div class="row activity">
  <div class="col-xs-1 no-padding-left-right">
    <img src="<%= user_id.picture %>" width="25" height="25">
  </div>
  <div class="col-xs-11">
  <% if (type === 10) { %>
    <div class="activity-description">
        <a class="username" href="/@<%= user_id.username %>"><%= user_id.fullname %></a>
        <span>voted up an answer</span>
    </div>
    <div>
      <div class="question-link">
        <a href="/questions/<%= voted.answer_id.question_id._id %>" target="_blank"><%= voted.answer_id.question_id.title %></a>
      </div>
    </div>
    <div class="answer-text"><%= voted.answer_id.content %></div>
  <% } %>

  <% if (type === 20) { %>
    <div class="activity-description">
        <a class="username" href="/@<%= user_id.username %>"><%= user_id.fullname %></a>
        <span>added new question</span>
    </div>
    <div>
      <div class="question-link">
        <a href="/questions/<%= posted.question_id._id %>" target="_blank"><%= posted.question_id.title %></a>
      </div>
    </div>
  <% } %>

  <% if (type === 21) { %>
    <div class="activity-description">
        <a class="username" href="/@<%= user_id.username %>"><%= user_id.fullname %></a>
        <span>added new answer</span>
    </div>
    <div>
      <div class="question-link">
        <a href="/questions/<%= posted.answer_id.question_id._id %>" target="_blank"><%= posted.answer_id.question_id.title %></a>
      </div>
    </div>
    <div class="answer-text"><%= posted.answer_id.content %></div>
  <% } %>

  <% if (type === 23) { %>
    <div class="activity-description">
      <a class="username" href="/@<%= user_id.username %>"><%= user_id.fullname %></a>
      <span>added new tweet</span>
      <a href="/@<%= user_id.username %>/tweets/<%= posted.tweet_id._id %>" target="_blank"><%= posted.tweet_id.title %></a>
    </div>
    <div class="answer-text"><%= posted.tweet_id.content %></div>
  <% } %>

  <% if (type === 30) { %>
    <div class="activity-description">
      <a class="username" href="/@<%= user_id.username %>"><%= user_id.fullname %></a>
      <span>followed</span>
      <span class="user-link">
        <a href="/users/<%= followed.user_id.username %>" target="_blank"><img src="<%= followed.user_id.picture %>" width="25" heigth="25"></a>
        <a href="/users/<%= followed.user_id.username %>" target="_blank"><%= followed.user_id.fullname %></a>
        </a>
      </span>
    </div>
  <% } %>

  <% if (type === 31) { %>
    <div class="activity-description">
      <a class="username" href="/@<%= user_id.username %>"><%= user_id.fullname %></a>
      <span>followed a question</span>
    </div>
    <div class="question-link">
      <a href="/questions/<%= followed.question_id._id %>" target="_blank"><%= followed.question_id.title %></a>
    </div>
  <% } %>

  <% if (type === 32) { %>
    <div class="activity-description">
      <a class="username" href="/@<%= user_id.username %>"><%= user_id.fullname %></a>
      <span>followed topic</span>
      <span class="topic-text">
        <a href="/topics/<%= followed.topic_id.name %>" target="_blank"><img src="<%= followed.topic_id.picture %>" width="25" height="25"></a>
        <a href="/topics/<%= followed.topic_id.name %>" target="_blank"><%= followed.topic_id.name %></a>
        </a>
      </span>
    </div>
  <% } %>
</div>