/node_modules
/public/assets/*
/public/assets/pictures/*
/public/assets/pictures/topics/*
/public/assets/pictures/users/*
/public/assets/pictures/users/email/*
/public/assets/pictures/users/google/*
/public/assets/pictures/users/facebook/*
!/public/assets/pictures
!/public/assets/pictures/topics
!/public/assets/pictures/users
!/public/assets/pictures/users/email
!/public/assets/pictures/users/google
!/public/assets/pictures/users/facebook
!/public/assets/pictures/users/default.jpg
!/public/assets/pictures/topics/.gitkeep
!/public/assets/pictures/users/email/.gitkeep
!/public/assets/pictures/users/google/.gitkeep
!/public/assets/pictures/users/facebook/.gitkeep
TODOS
.env
.config.js
