ul.nav.nav-pills.nav-stacked
  li
    a(href='/') Câu Hỏi & Trả Lời
  li
    a(href='/open-questions') Câu Hỏi Mở
  li
    a(href='/activities') Hoạt Động
  li
    a(href="/notifications") Thông Báo
      span.badge
  li
    form(method="POST", action="/sessions", class="navbar-form navbar-left")
      input(type="hidden", name="_method", value="DELETE")
      input(type="hidden", name="_csrf", value=csrfToken)
      button(type="submit", class="btn btn-default") Đăng xuất
