!!! 5
html(lang="vi")
  head
    include ../headers/activities
  body
    .banner-msg
    include _navbar
    .container.content
      .row
        .col-xs-2.submenu
          include _submenu
        .col-xs-6(role="main")
          block content
    include _footer
    include _dialog
