!!! 5
html(lang="vi")
  head
    include _header
  body
    include _navbar
    .container
      .row
        .col-md-12
          include _message
      .row
        .col-md-2
          include _submenu
        .col-md-6(role="main")
          block content
    include _footer
