!!! 5
html(lang="vi")
  head
    include _header
  body
    include _navbar
    .container
      .row
        .col-xs-12
          include _message
      .row
        .col-xs-12
          block content
          .row.spinner-large
            .col-xs-12
              img(src="/images/spinner_large.gif", alt="Loading...", title="Loading...")
    include _footer
    include _dialog
