!!! 5
html(lang="vi")
  head
    include _header
  body
    include _navbar
    .container
      .row
        .col-md-12
          include _message
      .row
        .col-sm-12
          block content
    include _footer
    include _dialog
