!!! 5
html.login-page(lang="vi")
  head
    include ../headers/login
  body
    .container
      .row
        .col-xs-12
          block content
          .row
            .col-xs-2.welcome-spinner
              span.spinner-large
    include _footer
    include _dialog
