!!! 5
html(lang="vi")
  head
    include _header
  body
    .banner-msg
    include _navbar
    .container
      .row
        .col-xs-12(role="main")
          block content
    include _footer
    include _dialog
