@font-face { 
  font-family: Facebook-Letter-Faces;
  // IE
  src: local('Facebook-Letter-Faces'), url('/stylesheets/fonts/facebook.eot');
  // non-IE
  src: url('/stylesheets/fonts/facebold.otf');
}

// ** Begin functions definition
.border-radius(@border) {
  -webkit-border-radius: @border;
  -moz-border-radius: @border;
  border-radius: @border;
}

.light-gray {
  color: #999;
}

.link-text {
  color: #19558d;
}

.question-link {
  .link-text;
  font-weight: bold;
}

.form-btn(@border-color, @border-bottom-color) {
  text-shadow: none;
  border: 1px solid #bbb;
  border-color: @border-color;
  border-bottom: 1px solid @border-bottom-color;
  .border-radius(3px);  font-weight: bold;
  font-size: .9em;
}

.submit-btn {
  background: #19558d;
  color: #fff;
  .form-btn(#062c50, #003);
}

.cancel-btn {
  background: linear-gradient(to bottom, #fefefe 0, #e0e0e0 70%);
  color: #333;
  .form-btn(#999, #777);
}
// ** End functions definition

// ** Begin navbar
.navbar-default {
  background-color: #122c4b;
  border-color: #122c4b;
  .border-radius(0px);
}
// ** End navbar

// ** Begin social signup button
.google-signup-btn {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  height: 35px;
  background: #dd4b39;
  color: white;
  width: 100%;
  .border-radius(5px);
  white-space: nowrap;
  &:hover {
    background: #e74b37;
    cursor: pointer;
  }
  .icon {
    position: absolute;
    left: 15px;
    background: url('/images/google-btn.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-right: #bb3f30 1px solid;
  }
  .buttonText {
    margin-top: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto',arial,sans-serif;
  }
}

.facebook-signup-btn {
  display: inline-block;
  margin-top: 10px;
  height: 35px;
  text-align: center;
  background-color: #4365a9;
  color: white;
  width: 100%;
  .border-radius(5px);
  white-space: nowrap;
  &:hover {
    background: #4f6aa3;
    cursor: pointer;
  }
  .icon {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Facebook-Letter-Faces', Helvetica, sans-serif;
    position: absolute;
    left: 15px;
    font-size: 2em;
    height: 35px;
    padding: 0 12px 0 10px;
    border-right: 1px solid rgba(34,34,34,0.18);
    &:before {
      content: "f";
    }
  }
  .buttonText {
    margin-top: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto',arial,sans-serif;
  }
}
// ** End social signup button

// ** Begin spinner
.navbar-header .spinner {
  margin-left: -35px;
  padding: 15px 15px;
  margin-top: 7.5px;
  float: left;
}

.feed-spinner, .topic-spinner {
  .spin-js {
    margin-top: 250px;
  }
}

// ** Begin modal box
.modal-open {
  overflow: visible;
}

.modal-backdrop.in {
  opacity: 0;
}

#question-modal {

  overflow:hidden;

  textarea {
    resize: vertical;
  }

  .modal-content {
    background: #eaeaea;
    border: 1px solid #aaa;
    border-bottom-color: #999;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
 }

  .modal-title {
    color: #333;
    font-weight: bold;
  }

  .modal-footer {
    padding-top: 0;
    margin-top: 0;
  }

  .notice {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 15px;
    background: #fff8a6;
    border-radius: 0;
    border: 1px solid #e5dd7e;
  }

  .search-input {
    width: 50%;
    .border-radius(0);
  }

  .followers {
    color: #999;
  }

  .topic-list {
    label {
      font-weight: normal;
      cursor: pointer;
    }
    .name {
      display: inline-block;
      background: #dfeaf4;
      padding: 1px 5px;
      margin-top: -1px;
      border-radius: 3px;
      font-weight: normal;
      color: #19558d;
      border: 1px solid rgba(25,85,141,0.09);
      margin-right: 3px
    }
  }

  .search-results {
    background: #fff;
    color: #333;
    margin-top: -2px;
    width: 60%;
    z-index: 9999;
    border: 1px solid #999;
    border-bottom: 1px solid #666;
    cursor: pointer;

    ul {
      margin: 0 0;
      padding: 0 0;
      list-style: none;

      li {
        padding: 5px 7px;
        font-family: "Helvetica Neue",Arial,sans-serif;
        font-size: 0.8em;

        .picture {
          float: left;
          margin: 1px 5px 0 0;
        }

        &:hover {
          background-color: #dfeaf4;
          color: #19558d;
        }

      }
    }
  }
}

.inline-answer {
  background: #eee;
  width: 270px;
  padding: 5px 5px;
}

.inline-answer.wide {
  width: 100%;
}

.mce-panel {
  display: none;
}

.fake-editor {
  .border-radius(5px);

  input {
    padding: 8px;
    margin: 0 0 0 35px;
    width: 225px;
    color: #999;
    border: 0;
    border-color: #538dc2;
  }

  img {
    position: absolute;
    float: right;
  }
}

.inline-editor-btn {
  margin-top: 10px;
  min-height: 20px;
}