<% if (typeof primary_topic_remain !== 'undefined') { %>
  <% if (primary_topic_remain > 0) { %>
    Vui lòng chọn ít nhất <%= primary_topic_remain %> chủ đề
  <% } else { %>
    Tiếp tục
  <% } %>
<% } %>

<% if (typeof related_topic_remain !== 'undefined') { %>
  <% if (related_topic_remain > 0) { %>
      Vui lòng chọn ít nhất <%= related_topic_remain %> chủ đề
  <% } else { %>
    kết thúc
  <% } %>
<% } %>

<% if ((typeof primary_topic_remain === 'undefined') && (typeof related_topic_remain === 'undefined')) { %>
  Về trang chủ
<% } %>