extends ../layouts/login
block content
  .row.login.hidden
    .col-sm-offset-4.col-sm-4
      form(role="form", method='POST', action="/sessions")
        .form-group
          label(for="email_login") Email
          input#email_login.form-control(name="email", type="email")
        .form-group
          label(for="password_login") Mật khẩu
          input#password_login.form-control(name="password", type="password")
        .form-group
          input(type="checkbox", name="remember", checked = "checked")
          | &nbsp; Ghi nhớ
        button.btn.btn-default(type="submit") Đăng nhập
        | &nbsp;
        a.forgot-password-btn(href="#forgot-password") Quên mật khẩu?
  .row.signup.hidden
    .col-sm-offset-4.col-sm-4
      br
      p.text-center
        strong Chưa có tài khoản?
      .form-group
        a.signup-btn(href='#signup', class="btn btn-primary btn-block", role="button") Đăng ký tài khoản
      .form-group
        .google-signup-btn
          span.icon
          span.buttonText Google
      .form-group
        .facebook-signup-btn
          span.icon
          span.buttonText Facebook

  .row.signup-form.hidden
    .col-sm-offset-4.col-sm-4
      form(method="POST", action="/users")

        .form-group
          label.control-label(for="full_name_signup") Full Name:
          input.form-control#full_name_signup(type="text", name="full_name")

        .form-group
          label.control-label(for="email_signup") Email:
          input.form-control#email_signup(type="email", name="email", title="Địa chỉ email không hợp lệ")

        .form-group
          label.control-label(for="password_signup") Mật khẩu:
          input.form-control#password_signup(type="password", name="password", required='required', pattern=".{6,}", title = "Mật khẩu phải từ 5 ký tự trở lên")

        button.btn.btn-default(type="submit") Đăng ký
        | &nbsp;
        a.cancel-register(href="#") Quay lại

  .row.forgot-password-form.hidden
    .col-sm-offset-3.col-sm-6
      form.form-inline(method='POST', action="/users/reset_password")
        .row
          .col-sm-8
            label.sr-only(for="email_forgot_password") Email
            input#email_forgot_password.form-control(name="email", type="email", placeholder="Email")
          .col-sm-4
              button.btn.btn-success(type="submit") Submit
              | &nbsp;
              a.cancel-forgot(href="#") Quay lại

  script(data-main="/javascripts/app/bootstraps/login", src="/javascripts/libs/require/require-2.1.9.min.js")
