extends ../layouts/login
block content
  header
    span.spinner
    h1
      a(href="/", title="Tweet", alt="Tweet") Tweet
  .row.login.hidden
    .col-xs-offset-4.col-xs-4
      form(role="form", method="POST", action="/sessions")
        .form-group
          label(for="email_login") Email
          input#email_login.form-control(name="email", type="email")
        .form-group
          label(for="password_login") Password
          input#password_login.form-control(name="password", type="password")
        .checkbox
          label
            input(type="checkbox", name="remember")
            small remember me
        .msg-wrapper
        button.btn.btn-success.col-xs-5.pull-right(type="submit") Sign in
        | &nbsp;
        a.forgot-btn(href="#forgot-password")
          strong Forgot password?
  .row.signup.hidden
    .col-xs-offset-4.col-xs-4
      .form-group.social-signup-btns
        div.google-signup-btn
          span.icon
          span.buttonText
        div.facebook-signup-btn
          span.icon
          span.buttonText
      div.clear
      .form-group.center.signup-link
        span Don't have an account yet?&nbsp;
        a(href='#signup')
          strong Register

  .row.signup-form.hidden
    .col-xs-offset-4.col-xs-4
      form(method="POST", action="/users")

        .form-group
          label.control-label(for="first_name_signup") First Name:
          input.form-control#first_name_signup(type="text", name="first_name", required)

        .form-group
          label.control-label(for="last_name_signup") Last Name:
          input.form-control#last_name_signup(type="text", name="last_name", required)

        .form-group
          label.control-label(for="email_signup") Email:
          input.form-control#email_signup(type="email", name="email", title="Địa chỉ email không hợp lệ")

        .form-group
          label.control-label(for="password_signup") Password:
          input.form-control#password_signup(type="password", name="password", required='required', pattern=".{6,}", title = "Mật khẩu phải từ 5 ký tự trở lên")
        .msg-wrapper
        button.btn.btn-success(type="submit") Register
        | &nbsp;
        a.cancel-register(href="#")
          strong Cancel

  .row.forgot-password-form.hidden
    .col-xs-offset-3.col-xs-6
      form(method='POST', action="/users/reset_password")
        .row
          .col-xs-12
            label.sr-only(for="email_forgot_password") Email
            input#email_forgot_password.form-control(name="email", type="email", placeholder="Email")
            br
          .col-xs-12
            .msg-wrapper
            button.btn.btn-success(type="submit") Submit
            | &nbsp;
            a.cancel-forgot(href="#")
              strong Cancel

  script(data-main="/javascripts/app/bootstraps/login", src="/javascripts/libs/require/require-2.1.9.min.js")
