extends ../layouts/login
block content
  .row
    .col-md-offset-4.col-md-4
      form(role="form", method='POST', action="/change-password")
        input(type="hidden", name="reset-pwd-token", value!= reset_pwd_token)
        .form-group
          label(for="password") New password
          input#password.form-control(name="password", type="password")
        .form-group
          label(for="password-confirm") Confirm password
          input#password-confirm.form-control(name="password-confirm", type="password")
        button.btn.btn-default(type="submit") Submit

  script(data-main="/javascripts/app/bootstraps/change_forgot_password", src="/javascripts/libs/require/require-2.1.9.min.js")
