extends ../layouts/login

block content
  .row
    .col-sm-12
      form.form-horizontal(method="POST", action="/topics/#{topic._id}")
        input(type="hidden", name="_csrf", value!= csrfToken)
        input(type="hidden", name="_method", value="PUT")
        .form-group
          label.control-label.col-sm-2(for="name") Name
          .col-sm-4
            input#name.form-control(type="text", name="name", value!= topic.name, required)
        .form-group
          label.control-label.col-sm-2(for="type") Type
          .col-sm-4
            select#type.form-control(name="is_parent", required)
              option
              option(value="false") Child
              option(value="true") Parent
        .form-group
          label.control-label.col-sm-2(for="parent") Parent
          .col-sm-4
            select#parent.form-control(name="parent", disabled)
              option
              - for (var i = 0; i < parents.length; i++)
                option(value!= parents[i]._id)!= parents[i].name
        .form-group
          label.control-label.col-sm-2(for="related_words") Related Words
          .col-sm-4
            input#related_words.form-control(type="text", name="related_words", value!= topic.related_words)
        .form-group
          label.control-label.col-sm-2(for="picture") Picture
          .col-sm-4
            input.form-control(type="url", name="picture", required, value!= topic.picture)
        .form-group
          .col-sm-offset-2.col-sm-2
            button.btn.btn-primary(type="submit") Submit

  script(src="/javascripts/libs/jquery/jquery-2.0.3.min.js")
  script.
    $(function () {
      var $is_parent  = $('select[name="is_parent"]'),
        $parents      = $('select[name="parent"]');

      $is_parent.on('change', function (e) {
        if ($(e.target).val() === 'false') {
          $parents.prop('disabled', false);
          $parents.find('option[value="#{topic.parent}"]').prop('selected', true);
        } else {
          $parents.prop('disabled', true);
        }
      });

      $is_parent.find('option[value="#{topic.is_parent}"]').prop('selected', true);
      $is_parent.trigger('change');
    });
