extends ../layouts/login

block content
  .row
    .col-sm-6.col-sm-offset-6
      .topic-spinner
  .row.col-sm-10.col-sm-offset-1
    .col-sm-4
      div.step
        div.img-circle 1
    .col-sm-4
      div.step
        div.img-circle 2
    .col-sm-4
      div.step
        div.img-circle 3
  .row.col-sm-10.col-sm-offset-1#topic-list
    .col-sm-4
    .col-sm-4
    .col-sm-4
  script(data-main="/javascripts/app/bootstraps/topics.js", src="/javascripts/libs/require/require-2.1.9.min.js")
