extends ../layouts/topics

block content
  .center
    a.brand(href="#") Tweet
  .row#welcome-flow.hidden
    .col-xs-12
      .step-line
      .headline
        .steps.step-1
          .img-circle 1
          h2 Chọn chủ đề bạn quan tâm
        .steps.step-2
          .img-circle 2
          h2 Chọn chủ đề liên quan
        .steps.step-3
          .img-circle 3
          h2 Kết thúc
    .col-xs-12
      .instruction
        .steps.step-1
          //- h1 Pick at least 5 topics below to get started.
          a.next-step(href="#step-2", role="button")
        .steps.step-2
          h1 Theo dõi các chủ đề liên quan
          a.next-step(href="#step-3", role="button") Bỏ qua
        .steps.step-3
          h1 Bạn đã hoàn thành các bước cần thiết.
          a.next-step(href="/", role="button")
      .row.topic-list
        .col-xs-4
        .col-xs-4
        .col-xs-4
      .row.related-topics
        .col-xs-6
        .col-xs-6
      .row.instruction.instruction-bottom
        .steps.step-1
          a.next-step(href="#step-2", role="button")
        .steps.step-2
          a.next-step(href="#step-3", role="button") Bỏ qua
  script(src="/javascripts/build/topics.js")
