extends ../layouts/topics

block content
  .center
    a.brand(href="#") Tweet
  .row#welcome-flow.hidden
    .col-xs-12
      .step-line
      .headline
        .steps.step-1
          .img-circle 1
          h2 Choose your interests
        .steps.step-2
          .img-circle 2
          h2 Follow related topics
        .steps.step-3
          .img-circle 3
          h2 Finish
    .col-xs-12
      .instruction
        .steps.step-1
          h1 Pick at least 5 topics below to get started.
          a.next-step(href="#step-2", role="button")
        .steps.step-2
          h1 Almost done! Here are more topic recommendations based on those you just selected.
          a.next-step(href="#step-3", role="button") Skip
        .steps.step-3
          h1 All steps has been completed.
          a.next-step(href="/", role="button")
      .row.topic-list
        .col-xs-4
        .col-xs-4
        .col-xs-4
      .row.related-topics
        .col-xs-6
        .col-xs-6
      .row.instruction.instruction-bottom
        .steps.step-1
          a.next-step(href="#step-2", role="button")
        .steps.step-2
          a.next-step(href="#step-3", role="button") Skip
  script(src="/javascripts/build/topics.js")
