extends ../layouts/login

block content
  .row
    .col-sm-6.col-sm-offset-6
      .topic-spinner
  .row
    .col-sm-11.col-sm-offset-1
      #topic-list
  script(data-main="/javascripts/app/bootstraps/topics.js", src="/javascripts/libs/require/require-2.1.9.min.js")
