extends ../layouts/simple

block content
  include ../layouts/_message
  h2.well Create topic
  .row
    .col-xs-12
      form.form-horizontal(method="POST", action="/topics")
        input(type="hidden", name="_csrf", value!=csrfToken)
        .form-group
          label.control-label.col-xs-2(for="name") Name
          .col-xs-4
            input#name.form-control(type="text", name="name", placeholder="Eg: animals.", required)
        .form-group
          .col-xs-4.col-xs-offset-2
            .radio
              label
                input(type="radio", name="is_primary", value="true")
                | Primary topic
            .radio
              label
                input(type="radio", name="is_primary", value="false", checked)
                | None-primary topic
        .form-group
          label.control-label.col-xs-2 Related topics
          .col-xs-10
            .row
              .col-xs-4
                - for (var i = 0; i < topics.length; i++)
                  .checkbox
                    label
                      input(type="checkbox", name="related_topic_ids", value!= topics[i]._id)
                      span!= topics[i].name
                - if (topics.length === 0)
                  input.form-control(type="text", placeholder="No topics found.", disabled)
        .form-group
          label.control-label.col-xs-2(for="related_words") Related Words
          .col-xs-4
            input#related_words.form-control(type="text", name="related_words", placeholder="Eg: dog, cat, pet (should be singular form).")
        .form-group
          label.control-label.col-xs-2(for="picture") Picture
          .col-xs-4
            input.form-control(type="url", name="picture", required, placeholder="Picture url represents each topic.")
        .form-group
          .col-xs-offset-2.col-xs-2
            button.btn.btn-primary(type="submit") Submit
