extends ../layouts/login

block content
  .row
    .col-xs-12
      form.form-horizontal(method="POST", action="/topics")
        input(type="hidden", name="_csrf", value!=csrfToken)
        .form-group
          label.control-label.col-xs-2(for="name") Name
          .col-xs-4
            input#name.form-control(type="text", name="name", placeholder="Eg: animals.", required)
        .form-group
          label.control-label.col-xs-2(for="type") Type
          .col-xs-4
            select#type.form-control(name="is_primary", required)
              option
              option(value="true") Primary Topics
              option(value="false") Sub-Topics
        .form-group.sub-topic-group.hidden
          label.control-label.col-xs-2 Sub-topic
          .col-xs-10
            .row
              .col-xs-4
                - for (var i = 0; i < subtopics.length; i++)
                  .checkbox
                    label
                      input(type="checkbox", name="subtopic_ids", value!= subtopics[i]._id, disabled)
                      span!= subtopics[i].name
        .form-group
          label.control-label.col-xs-2(for="related_words") Related Words
          .col-xs-4
            input#related_words.form-control(type="text", name="related_words", placeholder="Eg: dog, cat, pet (should be singular form).")
        .form-group
          label.control-label.col-xs-2(for="picture") Picture
          .col-xs-4
            input.form-control(type="url", name="picture", required, placeholder="Picture url represents each topic.")
        .form-group
          .col-xs-offset-2.col-xs-2
            button.btn.btn-primary(type="submit") Submit

  script(src="/javascripts/libs/jquery/jquery-2.0.3.min.js")
  script.
    $(function () {
      var $is_primary     = $('select[name="is_primary"]'),
        $sub_topic_inputs = $('input[name="subtopic_ids"]'),
        $sub_topic_group  = $('.sub-topic-group');

      $is_primary.on('change', function (e) {
        if ($(e.target).val() === 'true') {
          $sub_topic_inputs.prop('disabled', false);
          $sub_topic_group.removeClass('hidden');
        } else {
          $sub_topic_inputs.prop('disabled', true);
          $sub_topic_group.addClass('hidden');
        }
      });
    });
